@model System.Collections.Generic.List<ToDoList_New.Models.ToDo>

@{
    ViewBag.Title = "Get";
    Layout = "_Layout";
}

<p>
    <a asp-action="Add">Add new ToDo Item</a>
</p>
<h2>ToDoLIst</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            Content
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Id<a>.</a>
                @item.TaskName
            </td>
            <td>
            </td>
        </tr>
    }
    </tbody>
</table>